.card{
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 8px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.text{
    text-align: center;
    font-size: 12px;
}

.favor i {
    transition: transform 0.2s ease-in-out, color 0.2s;
}

.bi-star-fill {
    color: #ffda08; 
    transform: scale(1.2);
}


